<div>
    <div>
        <h2>New Blog</h2>
        <form>
            <div>
                <label>Title</label>
                <input />
            </div>
            <div>
                <label>Post</label>
            </div>
            <div>
                <button>Post Blog</button>
            </div>
        </form>
    </div>
</div>