<h1>Homepage</h1>

<a href="./login">Login Page</a>
<a href="./api/users/logout" id="logout">Logout Page</a>

{{#each blogs}}
<div>
    <div>
        <h2>{{}}</h2>
        <p>{{}}</p>
    </div>
</div>
{{/each}}